.home-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-navbar {
    position: relative;
    z-index: 2;
}

.home-bg-video {
    position: fixed;
    top: 0;
    left: 0;
}

.home-content-x {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}