.homeBottom-container {
    width: 100%;
}

.home-b-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.home-b-buttons li {
    list-style-type: none;
    border: 3px solid white;
    border-radius: 80px;
    padding: 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-b-buttons li:hover {
    border-color: #D3FD50;
}

.home-b-buttons li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 107px;
    font-weight: 400;
}

.home-b-buttons li a:hover {
    color: #D3FD50
}